.btn btn-outline-dark{
    margin-left: 20px !important;
    margin-right: 20px !important;
    background-color: green !important;
}


#abc{
    height: 100px;
    width: 100px;
    background-color: aqua !important;
}